[mysqld]
skip-host-cache
skip-name-resolve
datadir = /var/lib/mysql
!includedir /etc/mysql/conf.d/
bind-address = 0.0.0.0
innodb_buffer_pool_size = 192M
thread_cache_size = 24
innodb_lock_wait_timeout = 60
innodb_log_file_size = 0M
innodb_strict_mode = 1
innodb_fast_shutdown = 1
innodb_use_native_aio = OFF
innodb_lru_scan_depth=100
key_buffer_size = 98M
collation-server = utf8mb4_unicode_ci
character-set-server = utf8mb4
default-authentication-plugin=mysql_native_password
sql_mode=""
performance_schema=OFF
open-files-limit = 16384
table_cache = 16384
query_cache_type = 1
query_cache_size = 32M
query_cache_limit = 32M
sort_buffer_size = 4M
read_buffer_size = 4M
read_rnd_buffer_size = 4M
join_buffer_size = 1M
