[mysqld]
skip-host-cache
skip-name-resolve
datadir = /var/lib/mysql
!includedir /etc/mysql/conf.d/
bind-address = 0.0.0.0
innodb_buffer_pool_size = 192M
thread_cache_size = 24
innodb_lock_wait_timeout = 60
innodb_strict_mode = 1
innodb_fast_shutdown = 1
innodb_use_native_aio = OFF
innodb_lru_scan_depth=100
innodb_read_io_threads = 8
innodb_write_io_threads = 8
innodb_io_capacity = 400
innodb_io_capacity_max = 40000
innodb_log_buffer_size = 64M
innodb_flush_log_at_trx_commit = 0
innodb_flush_method = O_DIRECT_NO_FSYNC
innodb_flush_neighbors = 0
innodb_flush_sync = 1
innodb_page_size = 8k
innodb_file_per_table = ON
key_buffer_size = 98M
collation-server = utf8mb4_unicode_ci
character-set-server = utf8mb4
default-authentication-plugin=mysql_native_password
sql_mode=""
table_cache = 16384
query_cache_type = 0
query_cache_size = 0
query_cache_limit = 0
sort_buffer_size = 4M
read_buffer_size = 4M
read_rnd_buffer_size = 4M
join_buffer_size = 1M
table_open_cache = 65536
table_definition_cache = 400
performance_schema = OFF

